
* {
	font-family: Ubuntu;
}

body {
}


#header {
	display: block;
	width: 100%;
	height: 60px;
	position: relative;
	clear: both;
}

#header_bar {
	list-style-type: none;
	clear: both;
	float: right;
	padding-right: 30px;
}

#front-icon {
	margin-left: 12px;
	margin-top: 5px;
	float: left;
	display: block;
}
#header_bar li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	font-size: 14px;
	color: #cc0000;
	padding-bottom: 5px;
}

#header_bar li:hover {
	border-top: 4px solid #3366ff;
	padding-top: 11px;
	color: #3366ff;
}

#front-page {
	width: 100%;
	background-color: white;
	
}

#logo {
	margin-top: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


#header_bar li a {
	display: block;
}

#main {
	display: block;
	clear: both;
}
#front-buttons {
	height: 50px;
	width: 120px;
	color: white;
	background-color: #cc0000;
	font-size: 18px;
	margin: 10px;
	margin-top: 50px;
	border: none;
	border-radius: 3px;
	box-shadow: 1px 1px 2px gray;
}

#front-buttons:hover {
	background-color: gray;
}




#footer {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
}

#footer_bar {
	list-style-type: none;
	display: block;
	text-align: center;
}

#footer_bar li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: gray;
}